/*
@tailwind base;
@tailwind components;
@tailwind utilities;


.content .vp-doc a {
  color: #000;
  background-color: #eec;
  border: 1px solid red;
}
@theme {
  --font-display: "Times New Roman", "serif";

}

@plugin "@tailwincss/typography";
@source "../../../../src/**/*.md";
@source "../../**/*.{vue.ts}";
@config "../../../../tailwind.config.cjs";
*/


