<<<<<<< HEAD
/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@import 'tailwindcss';
/*
@config '../../../../tailwind.config.cjs';
@plugin '@tailwindcss/typography';
*/

@source '../../../../src/**/*.md'; 
@source '../../**/*.{vue,ts}';

.content .vp-doc a {
  color: #000;
  background-color: #eec;
  border: 1px solid red;
}
=======
@import 'tailwindcss';

>>>>>>> d61e44387e3a21223fe7404546a9caa3abd1e0ce
