#___gatsby
  #gatsby-focus-wrapper(tabindex="-1" style="outline: none;")
    noscript

    .css-1osvvu7.e1gc7md50

    //-***NAVIGATION PANELS
    .css-8d36gr.er5par44
      .css-yxn4so.er5par42(role="presentation")
      .css-1iklcmd.er5par41

      //-***HAMBURGER MENU
      button.css-1kxt5v0.er5par40
        .css-10qlvma
          svg.css-86gm5n(fill="white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 13")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M.333 1.375l.943-.943 5.805 5.805-5.805 5.805-.943-.943 4.862-4.862L.333 1.375z" fill="#fff")

      //-***SLIDE IN MENUS
      .css-1erftfh.er5par43
        //-***PAGE 1 MENU
        ul.css-1r1pi87.e1mahocm3
          li.css-195qpwz.e1mahocm2
            .nav-list-background.css-1p8frub.e1mahocm1
            button(type="button")
              .css-egamck.e1mahocm0
                span.b1 Projects
                svg.css-1p1uhsv(fill="white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 13")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M.333 1.375l.943-.943 5.805 5.805-5.805 5.805-.943-.943 4.862-4.862L.333 1.375z" fill="#fff")
          li.css-195qpwz.e1mahocm2
            .nav-list-background.css-1p8frub.e1mahocm1
            button(type="button")
              .css-egamck.e1mahocm0
                span.b1 Products
                svg.css-1p1uhsv(fill="white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 13")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M.333 1.375l.943-.943 5.805 5.805-5.805 5.805-.943-.943 4.862-4.862L.333 1.375z" fill="#fff")
          li.css-195qpwz.e1mahocm2
            .nav-list-background.css-1p8frub.e1mahocm1
            a(href="/process/")
              .css-egamck.e1mahocm0
                span.b1 Process
          li.css-195qpwz.e1mahocm2
            .nav-list-background.css-1p8frub.e1mahocm1
            button(type="button")
              .css-egamck.e1mahocm0
                span.b1 Resources
                svg.css-1p1uhsv(fill="white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 13")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M.333 1.375l.943-.943 5.805 5.805-5.805 5.805-.943-.943 4.862-4.862L.333 1.375z" fill="#fff")
          li.css-195qpwz.e1mahocm2
            .nav-list-background.css-1p8frub.e1mahocm1
            a(href="/insights/")
              .css-egamck.e1mahocm0
                span.b1 Insights
          li.css-195qpwz.e1mahocm2
            .nav-list-background.css-1p8frub.e1mahocm1
            button(type="button")
              .css-egamck.e1mahocm0
                span.b1 Company
                svg.css-1p1uhsv(fill="white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 8 13")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M.333 1.375l.943-.943 5.805 5.805-5.805 5.805-.943-.943 4.862-4.862L.333 1.375z" fill="#fff")
          li.css-qqtsiz
            a(href="/contact-us/")
              button.css-1rlecox(type="button")
                span.button Get In Touch
        //-***PAGE 2 MENU
        .css-ijdezb.e1xomb6r5
          .css-3hsokh.e1xomb6r0
            button(type="button")
              svg.css-1x3sxtc(fill="white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 34 34")
                path(fill-rule="evenodd" clip-rule="evenodd" d="M17 14.054L30.258.795l2.946 2.947L19.946 17l13.258 13.258-2.946 2.947L17 19.946 3.742 33.205.795 30.258 14.054 17 .795 3.742 3.742.795 17 14.054z" fill="current")
          //-***SUBMENUS (PROJECTS)
          .css-1pr7bc7.e1xomb6r4
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/projects/workplace/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Workplace
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/projects/healthcare/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Healthcare
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/projects/education/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Education
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/projects/public-sector/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Public Sector
          //-***SUBMENUS (PRODUCTS)
          .css-1pr7bc7.e1xomb6r4
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/collections/solid-walls/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Solid Walls
                    svg.css-izpnkg(viewbox="0 0 19 19" fill="white" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M14.586 10.447H0v-2h14.586L8.293 2.154 9.707.74l8.707 8.707-8.707 8.707-1.414-1.414 6.293-6.293z" fill="current")
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/collections/glass-walls/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Glass Walls
                    svg.css-izpnkg(viewbox="0 0 19 19" fill="white" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M14.586 10.447H0v-2h14.586L8.293 2.154 9.707.74l8.707 8.707-8.707 8.707-1.414-1.414 6.293-6.293z" fill="current")
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/combination-walls/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Combination Walls
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/leaf-folding-walls/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Leaf Folding Walls
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/headwalls/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Headwalls
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/collections/doors/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Doors
                    svg.css-izpnkg(viewbox="0 0 19 19" fill="white" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M14.586 10.447H0v-2h14.586L8.293 2.154 9.707.74l8.707 8.707-8.707 8.707-1.414-1.414 6.293-6.293z" fill="current")
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/casework/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Casework
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/timber/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Timber
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/electrical/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Electrical
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/networks/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Networks
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/access-floors/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Access Floors
            h4.caption.css-u6p3id Integrations
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/technology/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Technology
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/graphics/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Graphics
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/writable-surfaces/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Writable Surfaces
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/products/breathe-living-walls/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1
                      | Breathe
                      sup ®
                      |  Living Walls
          //-***SUBMENUS (RESOURCES)
          .css-1pr7bc7.e1xomb6r4
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/finishes-and-materials/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Finishes and Materials
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/images/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Image Gallery
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/acoustics/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Acoustics
          //-***SUBMENUS (COMPANY)
          .css-1pr7bc7.e1xomb6r4
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(aria-current="page" href="/about/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 About Us
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/careers/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Careers
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/contact-us/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Contact Us
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/investors/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Investors
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/sustainability/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 Sustainability
            .css-hvl58o.e1xomb6r3
              .nav-list-background.css-1p8frub.e1xomb6r2
              a(href="/news/")
                .css-1eedniv.e1xomb6r1
                  .inner-content
                    span.b1 News

    //-***SIGN UP MAILING LIST
    .css-1pd0orz.e1fncf6s6
      .css-djn00q.e1fncf6s5(role="presentation")
      article.css-ns3vni.e1fncf6s4
        header.css-1t1y8rn.e1fncf6s3
          .css-1ui18ll.e1fncf6s2
            .css-8hngr8.e1fncf6s1(type="button")
              .css-10qlvma
                svg.css-1ss48qs(fill="white" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 34 34")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M17 14.054L30.258.795l2.946 2.947L19.946 17l13.258 13.258-2.946 2.947L17 19.946 3.742 33.205.795 30.258 14.054 17 .795 3.742 3.742.795 17 14.054z" fill="current")
          h2.h2.css-13n9swu.e1fncf6s0 Newsletter Sign Up
        .ctct-inline-form(data-form-id="e0e8b204-c375-4e08-a63e-8eead41cf1b2")
          .ctct-form-container.ctct-form-embed.form_1
            .ctct-form-defaults(data-qe-id="form-background")
              #success_message_1.ctct-form-success(style="display:none;" data-qe-id="success-message")
                h2.ctct-form-header Thanks for signing up!
                p.ctct-form-text
                  | You can unsubscribe at any time using the Unsubscribe link at the bottom of
                  | every email.
              form#ctct_form_1.ctct-form-custom(autocomplete="on" data-qe-id="form-data")
                #email_address_field_1.ctct-form-field
                  label#email_address_label_1.ctct-form-label.ctct-form-required(data-qe-id="form-label-email" for="email_address_1") Email
                  .ctct-form-errorMessage(data-qe-id="form-error-email" style="display: none;")
                  input#email_address_1.ctct-form-element(data-qe-id="form-input-email" type="email" name="email_address" value="" maxlength="80")
                #first_name_field_1.ctct-form-field
                  label#first_name_label_1.ctct-form-label.ctct-form-required(data-qe-id="form-label-first-name" for="first_name_1") First Name
                  .ctct-form-errorMessage(data-qe-id="form-error-first-name" style="display: none;")
                  input#first_name_1.ctct-form-element(data-qe-id="form-input-first-name" type="text" name="first_name" value="" maxlength="50")
                #last_name_field_1.ctct-form-field
                  label#last_name_label_1.ctct-form-label.ctct-form-required(data-qe-id="form-label-last-name" for="last_name_1") Last Name
                  .ctct-form-errorMessage(data-qe-id="form-error-last-name" style="display: none;")
                  input#last_name_1.ctct-form-element(data-qe-id="form-input-last-name" type="text" name="last_name" value="" maxlength="50")
                #company_field_1.ctct-form-field
                  label#company_label_1.ctct-form-label(data-qe-id="form-label-company" for="company_1") Company
                  .ctct-form-errorMessage(data-qe-id="form-error-company" style="display: none;")
                  input#company_1.ctct-form-element(data-qe-id="form-input-company" type="text" name="company" value="" maxlength="50")
                #error_message_1.ctct-form-error(style="display:none;")
                  p.ctct-form-errorMessage
                    | Sorry, we could not complete your sign-up. Please contact us to
                    | resolve this.
                #network_error_message_1.ctct-form-error(style="display:none;")
                  p.ctct-form-errorMessage Operation timed out, please try again.
                #gdpr_text
                  p.ctct-gdpr-text(data-qe-id="form-gdpr-text")
                    | By submitting this form, you are consenting to receive marketing emails from: DIRTT, 7303 30th
                    | Street SE, Calgary, AB, Alberta, T2C 1N6, CA, https://www.dirtt.com/. You can revoke your consent to
                    | receive emails at any time by using the SafeUnsubscribe® link, found at the bottom of every email.
                    a.ctct-form-footer-link(href="https://www.constantcontact.com/legal/service-provider" target="_blank" rel="”noopener" noreferrer”="" data-qe-id="form-service-link")
                      | Emails are serviced by
                      | Constant Contact.
                button.ctct-form-button(data-qe-id="form-button" type="submit") Subscribe
                #ctct_recaptcha_1.g-recaptcha(data-sitekey="6LfHrSkUAAAAAPnKk5cT6JuKlKPzbwyTYuO8--Vr" data-size="invisible")
                  .grecaptcha-badge(data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden;")
                    .grecaptcha-logo
                      iframe(title="reCAPTCHA" src="https://www.google.com/recaptcha/api2/anchor?ar=1&k=6LfHrSkUAAAAAPnKk5cT6JuKlKPzbwyTYuO8--Vr&co=aHR0cHM6Ly93d3cuZGlydHQuY29tOjQ0Mw..&hl=en&v=tNAc29ZZrpcOCErva2nr4BS9&size=invisible&cb=i52mvdnejral" width="256" height="60" role="presentation" name="a-qzlgtwjp0p5z" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox")
                    .grecaptcha-error
                    textarea#g-recaptcha-response-2.g-recaptcha-response(name="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;")
                  iframe(style="display: none;")
              p.ctct-form-footer

    main.css-jnthf0.e99g6gb1

      //-***HEADER
      header#header.css-38dogb.e174jc4j10

        //-***HORIZONTAL MENU
        nav.css-10fvndb.e174jc4j9
          .css-1jfw28f
            ul.css-m6wwro.e174jc4j8
              li.css-1cp1e75.e174jc4j6
                a(href="/")
                  figure.css-11vwizi.e174jc4j5
                    svg.css-w3f7al(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 418.87 99.9" fill="white")
                      path(d="M68.4 50c0 24.3-7.1 37.1-34.1 37.1H15.5l-1.4-1.4V14.3l1.4-1.4h18.8c27 0 34.1 12.8 34.1 37.1zm14.2 0c0-30-11.4-50-46.8-50H1.4L0 1.4v97.1l1.4 1.4h34.4C71.2 100 82.6 80 82.6 50zM113.8 98.5V1.4L112.4 0H101l-1.4 1.4v97.1l1.4 1.4h11.4l1.4-1.4zM214.6 28.6c0-20-12.8-28.6-32.7-28.6h-44l-1.4 1.4v97.1l1.4 1.4h11.4l1.4-1.4v-40l1.4-1.4h22.7l2.8 1.4 25.6 40 2.8 1.4h5.7l1.4-1.4v-10l-19.9-31.4v-1.4c12.8-2.8 21.4-11.4 21.4-27.1zm-14.2 0c0 11.4-5.7 15.7-18.5 15.7h-29.8l-1.4-1.4V14.3l1.4-1.4h29.8c12.8 0 18.5 4.2 18.5 15.7zM304 11.4v-10L302.6 0h-76.7l-1.4 1.4v10l1.4 1.4h29.8l1.4 1.4v84.3l1.4 1.4h11.4l1.4-1.4V14.2l1.4-1.4h29.8l1.5-1.4zM394.8 11.4v-10L393.4 0h-76.7l-1.4 1.4v10l1.4 1.4h29.8l1.4 1.4v84.3l1.4 1.4h11.4l1.4-1.4V14.2l1.4-1.4h29.8l1.5-1.4zM413.98 6.85v.09l1.12 1.47v.86l-.09.09h-.52l-.17-.09-1.73-2.24-.17-.09h-.86l-.09.09v2.24l-.09.09h-1.04l-.09-.09V3.4l.09-.09h2.85c1.21 0 2.07.6 2.07 1.81 0 .95-.6 1.55-1.29 1.73zm-.78-2.5h-1.64l-.09.09v1.38l.09.09h1.64c.52 0 .86-.17.86-.78s-.35-.78-.86-.78z")
                      path(d="M412.49 12.76c-3.52 0-6.38-2.86-6.38-6.38S408.97 0 412.49 0s6.38 2.86 6.38 6.38-2.86 6.38-6.38 6.38zm0-11.49c-2.82 0-5.11 2.29-5.11 5.11s2.29 5.11 5.11 5.11 5.11-2.29 5.11-5.11-2.29-5.11-5.11-5.11z")
              li.css-q9xayo.e174jc4j7
                button(type="button")
                  div
                    h4.subcaption Projects
              li.css-qufnm0.e174jc4j7
                button(type="button")
                  div
                    h4.subcaption Products
              li.css-qufnm0.e174jc4j7
                a(href="/process/")
                  div
                    h4.subcaption Process
              li.css-qufnm0.e174jc4j7
                button(type="button")
                  div
                    h4.subcaption Resources
              li.css-qufnm0.e174jc4j7
                a(href="/insights/")
                  div
                    h4.subcaption Insights
              li.css-qufnm0.e174jc4j7
                button(type="button")
                  div
                    h4.subcaption Company
            .css-enxx9i.e174jc4j0
              a.contact-button(href="/contact-us/")
                button.css-jw5jdz(type="button")
                  span.button Get In Touch

        nav.css-b4bq7l.e174jc4j9
          .css-1jfw28f
            .css-1o9wq33
              a(href="/")
                figure.css-11vwizi.e174jc4j5
                  svg.css-16qjhms(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 418.87 99.9" fill="white")
                    path(d="M68.4 50c0 24.3-7.1 37.1-34.1 37.1H15.5l-1.4-1.4V14.3l1.4-1.4h18.8c27 0 34.1 12.8 34.1 37.1zm14.2 0c0-30-11.4-50-46.8-50H1.4L0 1.4v97.1l1.4 1.4h34.4C71.2 100 82.6 80 82.6 50zM113.8 98.5V1.4L112.4 0H101l-1.4 1.4v97.1l1.4 1.4h11.4l1.4-1.4zM214.6 28.6c0-20-12.8-28.6-32.7-28.6h-44l-1.4 1.4v97.1l1.4 1.4h11.4l1.4-1.4v-40l1.4-1.4h22.7l2.8 1.4 25.6 40 2.8 1.4h5.7l1.4-1.4v-10l-19.9-31.4v-1.4c12.8-2.8 21.4-11.4 21.4-27.1zm-14.2 0c0 11.4-5.7 15.7-18.5 15.7h-29.8l-1.4-1.4V14.3l1.4-1.4h29.8c12.8 0 18.5 4.2 18.5 15.7zM304 11.4v-10L302.6 0h-76.7l-1.4 1.4v10l1.4 1.4h29.8l1.4 1.4v84.3l1.4 1.4h11.4l1.4-1.4V14.2l1.4-1.4h29.8l1.5-1.4zM394.8 11.4v-10L393.4 0h-76.7l-1.4 1.4v10l1.4 1.4h29.8l1.4 1.4v84.3l1.4 1.4h11.4l1.4-1.4V14.2l1.4-1.4h29.8l1.5-1.4zM413.98 6.85v.09l1.12 1.47v.86l-.09.09h-.52l-.17-.09-1.73-2.24-.17-.09h-.86l-.09.09v2.24l-.09.09h-1.04l-.09-.09V3.4l.09-.09h2.85c1.21 0 2.07.6 2.07 1.81 0 .95-.6 1.55-1.29 1.73zm-.78-2.5h-1.64l-.09.09v1.38l.09.09h1.64c.52 0 .86-.17.86-.78s-.35-.78-.86-.78z")
                    path(d="M412.49 12.76c-3.52 0-6.38-2.86-6.38-6.38S408.97 0 412.49 0s6.38 2.86 6.38 6.38-2.86 6.38-6.38 6.38zm0-11.49c-2.82 0-5.11 2.29-5.11 5.11s2.29 5.11 5.11 5.11 5.11-2.29 5.11-5.11-2.29-5.11-5.11-5.11z")
            .css-q619tu.e174jc4j4
              button.css-17zkmy2.e174jc4j3
                ul.css-1vjeczq.e174jc4j2
                  li.css-1gx9uem.e174jc4j1
                  li.css-1gx9uem.e174jc4j1
                  li.css-1gx9uem.e174jc4j1


      //-***MAIN CONTENT
      .css-xq8l3d.e99g6gb0

        //-***ARTICLE BREADCRUMB, TITLE, SUBTITLE
        section#companybanner-5b8f2e32-41fa-46cb-9236-873907af3ce0
          .css-1dz8fdo.et5pmxk2(color="grey-70")
            .css-1jfw28f
              header.css-18r6t3u.et5pmxk1
                nav.breadcrumbs.undefined.css-1pfg2ah.e6j2p722(color="grey-70")
                  ul.subcaption.css-5opdh9.e6j2p721
                    li.css-u6nmfi.e6j2p720 company
                    li.css-u6nmfi.e6j2p720
                      a(aria-current="page" href="/about/") about
                .css-now4a4
                  h1.d2.css-50zrmy About Us
                  h2.h1 Together, we’re building for tomorrow
              .css-pyaoc3.et5pmxk0
                article.css-1babp7z.e1cx79fc3
                  .css-1qofvtw.e1cx79fc2(width="70%")
                    .block-left.one.css-jiop40.e1cx79fc1(height="calc(100%/3)" style="transform: translateX(0px); opacity: 1;")
                      .block-left-inner.one.css-2u0agv.e1cx79fc0(radius="5rem" style="transform: translateX(0px); opacity: 1;")
                    .block-left.two.css-5feb8p.e1cx79fc1(height="calc(100%/3)" style="transform: translateX(0px); opacity: 1;")
                      .block-left-inner.two.css-rl10wr.e1cx79fc0(radius="5rem" style="transform: translateX(0px); opacity: 1;")
                    .block-left.three.css-32fd1p.e1cx79fc1(height="calc(100%/3)" style="transform: translateX(0px); opacity: 1;")
                      .block-left-inner.three.css-1f8g40i.e1cx79fc0(radius="5rem" style="transform: translateX(0px); opacity: 1;")
                  .css-s4a3z7.e1cx79fc2(width="30%")
                    .block-right.one.css-1u9ujf1.e1cx79fc1(height="calc(100%/3)" style="transform: translateX(0px); opacity: 1;")
                    .block-right.two.css-1c51z4u.e1cx79fc1(height="calc(100%/3)" style="transform: translateX(0px); opacity: 1;")
                    .block-right.three.css-1yna4kw.e1cx79fc1(height="calc(100%/3)" style="transform: translateX(0px); opacity: 1;")

        //-***SINCE 2004
        section#paragraph-752cbf57-3835-4359-a17f-188222a7ef2e
          .css-m69xky.e1m9an5f3(color="white")
            .css-1651ga6
              article.css-1ii0twx.e1m9an5f1
                p.h3.css-1y8aaqu.e1m9an5f0
                  | Since 2004, DIRTT has grown to become a global leader in
                  | industrialized construction for interior spaces. Getting here took vision and tenacity. It took a
                  | passionate team and dedicated partners focused on driving change in an evolving industry. To do this,
                  | we work with some of the most innovative clients, design teams, and construction professionals across
                  | the globe.
                  | Through custom manufacturing, we translate unique visions into compelling spaces where people
                  | collaborate, socialize, learn, and heal. We’re still driving innovation today. Advanced digital tools,
                  | a sophisticated product infrastructure, and our dedicated team of construction experts ensure this.

        //-***NUMBERS
        section#stats-2aedf385-5d2a-4cb0-a67b-7e2eee020bdb
          section.css-npsqt5.e12sds9e3(color="white")
            .css-eisglz
              .css-2odfdb.e12sds9e2
                .css-1xrmxi5.e12sds9e1(color="white")
                  p.d2.css-1olhz5w.e12sds9e0 $1 Billion
                  section.storyblock-richtext.b1.css-vk6gfi.e1v8ypmo9(color="white")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | of DIRTT products have shipped
                          | globally
                .css-1xrmxi5.e12sds9e1(color="white")
                  p.d2.css-1olhz5w.e12sds9e0 345
                  section.storyblock-richtext.b1.css-vk6gfi.e1v8ypmo9(color="white")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span unique patents
                .css-1xrmxi5.e12sds9e1(color="white")
                  p.d2.css-1olhz5w.e12sds9e0 30%+
                  section.storyblock-richtext.b1.css-vk6gfi.e1v8ypmo9(color="white")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | of the Fortune 500 have worked with
                          | us
                .css-1xrmxi5.e12sds9e1(color="white")
                  p.d2.css-1olhz5w.e12sds9e0 540,000
                  section.storyblock-richtext.b1.css-vk6gfi.e1v8ypmo9(color="white")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | square feet of distributed manufacturing
                          | space
                .css-1xrmxi5.e12sds9e1(color="white")
                  p.d2.css-1olhz5w.e12sds9e0 DRTT + DRT
                  section.storyblock-richtext.b1.css-vk6gfi.e1v8ypmo9(color="white")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | listed on Nasdaq and Toronto Stock Exchange
                    p.b1.css-0.e1v8ypmo7
                      span
                        a.css-1ckmziu(href="/investors/")
                          span
                            | Learn
                            | more

        //-***GLOBAL REACH
        section#explainer-20d1822d-3c7a-4d2c-9708-96dd403e7c49
          section.css-ojg4t4.eg40kyz7(color="grey-70")
            .css-eisglz
              .css-82448m
                h2.h1.css-vw8euw.eg40kyz6 Global Reach, Local Expertise
                .css-e4j0b4.eg40kyz4
                  section.storyblock-richtext.b1.css-ur4z9s.e1v8ypmo9(color="grey-70")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | Our team has a relentless passion for spaces that
                          | empower our clients. Whether they need an intelligent product, a full construction solution,
                          | or a hard-working standard across their real estate portfolio, we can bring that vision to
                          | life. Our dedicated team of construction experts ensures they get the most out of the DIRTT
                          | construction system. You can see the results in the healthcare, workplace, education, and
                          | public sector spaces we’re building.
                        a.css-1ckmziu(href="/investors/leadership-and-governance/")
                          span
                            | DIRTT’s leadership and board of
                            | directors
                        span
                          | are made up of diverse and talented minds with vast industry
                          | knowledge. Together, they drive continuous innovation, develop new products, and expand
                          | proprietary technology.
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | We reach our clients through an international
                          | network of DIRTT Construction Partners. Their DIRTT expertise makes them the go-to local team
                          | from pre-construction through order, installation, and beyond. DIRTT partners work with you
                          | and your construction team, ensuring effective management and execution of the DIRTT scope on
                          | every project. Long term, they support with reconfigurations, adaptations, and adjustments,
                          | continuously protecting your investment in DIRTT while helping to keep your space relevant for
                          | years to come.
              .css-x54gkf
                .css-tg5sf5
                  .css-1bdw0w.e15ursx47
                    figure.css-11z0hfz.eg40kyz0
                      img.css-y3b4ln(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_1024/v1653613846/Website/Company/About/image_262258366_a2vfql" alt="People collaborating")
                .css-2nncd8

        //-***ADAPTABLE
        section#explainer-9f9fa0f7-a7a3-4883-8985-8babd6bbf2b3
          section.css-ozki7r.eg40kyz7(color="grey-70")
            .css-eisglz
              .css-82448m
                h2.h1.css-vw8euw.eg40kyz6 Adaptable and Sustainable Products
                .css-e4j0b4.eg40kyz4
                  section.storyblock-richtext.b1.css-8uri6r.e1v8ypmo9(color="grey-70")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          span
                            | From the beginning, sustainability
                            | has been a core pillar at DIRTT. Our ever-expanding array of products and integrations give
                            | our clients the tools to create high-performing interiors that stay relevant into the
                            | future. The core of our product philosophy is a construction system that uses a universal
                            | interface. By allowing interchangeable parts, DIRTT can maximize the life cycle for most of
                            | our products. Committed to sustainability, we subscribe to non-obsolescence. That means new
                            | DIRTT components work with everything that came before. Everything can be disassembled and
                            | reconfigured with minimal waste.
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          span
                            | Our construction system is client
                            | driven, delivering unique solutions to help you evolve. Our Product Development team works
                            | to continuously enhance our customization options. That innovation is embodied in 253 unique
                            | patents and tested over thousands of projects. Our team of industrial designers, engineers,
                            | and inventors ensure the DIRTT system continues to provide design freedom as trends evolve
                            | and needs change.
                  a.css-14gcd6b(href="/sustainability/")
                    button.css-irvhv0(type="button")
                      span Learn More About DIRTT's Sustainability
              .css-x54gkf
                .css-tg5sf5
                  .css-1bdw0w.e15ursx47
                    figure.css-11z0hfz.eg40kyz0
                      img.css-y3b4ln(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_1024/v1637257237/Projects/11125/d_20211116_135539_pxsccd" alt="DIRTT interiors")
                .css-2nncd8

        //-***OPERATIONAL
        section#explainer-c072819f-0a02-4f69-9e98-5080cdee0d81
          section.css-o60cy2.eg40kyz7(color="grey-70")
            .css-eisglz
              .css-82448m
                h2.h1.css-vw8euw.eg40kyz6 Operational Excellence
                .css-e4j0b4.eg40kyz4
                  section.storyblock-richtext.b1.css-1100100.e1v8ypmo9(color="grey-70")
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          span
                            | DIRTT leverages lean principles at
                            | our manufacturing facilities across North America. This allows us to build spaces for our
                            | clients while establishing a safer work environment, increasing the quality of our products,
                            | and creating more efficient facilities. Our culture of continuous improvement empowers our
                            | people to share ideas to uphold quality.
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          span
                            | DIRTT is dedicated to continuous
                            | performance improvement. We take a metrics-driven approach to quality control. Employees are
                            | validated for efforts to improve. Monitoring tools throughout our facilities help us
                            | continuously track safety, quality, delivery, inventory, productivity, and environmental
                            | considerations against targets. To learn more, read our most recent Environmental, Social,
                            | and Governance (ESG) report.
                  a.css-zyp40r(href="https://dam.dirtt.com/image/upload/v1661962735/Website/Company/Sustainability/DIRTT-2021-ESG-Report.pdf" target="_blank" rel="nofollow noopener noreferrer")
                    button.button.css-irvhv0(type="button")
                      span View ESG Report
              .css-x54gkf
                .css-tg5sf5
                  .css-1bdw0w.e15ursx47
                    figure.css-11z0hfz.eg40kyz0
                      img.css-y3b4ln(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_1024/v1622055353/Projects/11087/d_20210512_131838_nraq51" alt="DIRTT interiors")
                .css-2nncd8

        //-***TECHNICAL LEADERSHIP
        section#explainer-833185bf-a7d1-4b6f-982e-460e83e6d8b7
          section.css-1wjbf0i.eg40kyz7(color="white")
            .css-eisglz
              .css-82448m
                h2.h1.css-vw8euw.eg40kyz6 Technical Leadership
                .css-e4j0b4.eg40kyz4
                  section.storyblock-richtext.b1.css-nc8fsd.e1v8ypmo9(color="white")
                    p.b1.css-0.e1v8ypmo7
                      span
                        | Ice Edge
                        sup ®
                        |  is the technology division of
                        |                         DIRTT. It creates advanced digital tools for businesses, including a first-of-its-kind software
                        |                         called ICE
                        sup ®
                        | . This technology serves as the engine for our industrialized construction
                        |                         system. The visual software allows configuration and pricing with direct connection to
                        |                         manufacturing equipment. Our clients’ design visions are translated into the intelligent
                        |                         software platform, empowering faster decision making during design, precise manufacturing, and
                        |                         coordination of the DIRTT scope.
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | Driving next-level collaboration and increased
                          | accessibility, our technology team is continuously evol and enhancing ICE software to give
                          | our clients an exceptional construction experience. In connection to the core ICE platform,
                          | the cloud-based virtual reality tool and app, called ICEreality, was an unprecedented
                          | technology for the construction industry when it was originally released. It connects teams
                          | from anywhere in the world to walk through their virtual space together, while design changes
                          | can be made with real-time feedback on pricing.
                    p.b1.css-0.e1v8ypmo7
                      span
                        span
                          | In addition to supporting DIRTT, Ice Edge serves
                          | 60+ clients globally with over 4,000 active software licenses.
              .css-x54gkf
                .css-tg5sf5
                  .css-1bdw0w.e15ursx47
                    figure.css-11z0hfz.eg40kyz0
                      img.css-y3b4ln(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_1024/v1653614865/Website/Company/About/image_262258366_soaok1" alt="Person using a virtual reality device")
                .css-2nncd8

        //-***RELATED PAGES
        section#pagegrid-bf18c360-5c29-49d5-92b3-120f40c1ec60
          .css-h4vxcz.ecd0o1b0(color="grey-70")
            .css-eisglz
              header.css-109sgxp.e1gyy4sm6
                h2.h1 Related Pages
              .css-gry6e5.e1gyy4sm5
                article.css-lfgnof(role="presentation")
                  header.css-1vmzex9
                    .css-ampg91.ea9zzoj0
                      .css-zms89y
                        h2.h4.css-u7ytkp
                          span News
                    svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                  a(href="/news/")
                    figure.b1.overlayed.css-144pkd.ea9zzoj1
                      img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1638200131/Projects/11125/d_2021020_110721_pyylma" alt="A large display integrated into a solid DIRTT wall is inside this private office with custom casework benches and shelves.")
              .css-gry6e5.e1gyy4sm5
                article.css-lfgnof(role="presentation")
                  header.css-1vmzex9
                    .css-ampg91.ea9zzoj0
                      .css-zms89y
                        h2.h4.css-u7ytkp
                          span Investors
                    svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                  a(href="/investors/")
                    figure.b1.overlayed.css-144pkd.ea9zzoj1
                      img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1654585411/Website/Investors/photography_yrzznh" alt="Seating area with couches and a coffee table in an office.")
              .css-gry6e5.e1gyy4sm5
                article.css-lfgnof(role="presentation")
                  header.css-1vmzex9
                    .css-ampg91.ea9zzoj0
                      .css-zms89y
                        h2.h4.css-u7ytkp
                          span Sustainability
                    svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                  a(href="/sustainability/")
                    figure.b1.overlayed.css-144pkd.ea9zzoj1
                      img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1622055368/Projects/11087/d_20210512_132259_g6y7dx" alt="DIRTT interiors")
              .css-gry6e5.e1gyy4sm5
                article.css-lfgnof(role="presentation")
                  header.css-1vmzex9
                    .css-ampg91.ea9zzoj0
                      .css-zms89y
                        h2.h4.css-u7ytkp
                          span Contact Us
                    svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                  a(href="/contact-us/")
                    figure.b1.overlayed.css-144pkd.ea9zzoj1
                      img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1608159904/Projects/11051/d_20201109_164328_avbhg4" alt="This meeting room has a custom casework shelving unit to house a large screen and casework drawers along one wall.")
              .css-ov4l0f.e1gyy4sm3
                .embla.css-919ki1.en0tunn2
                  ul.embla__container.css-1ej6wy8.en0tunn1(style="transform: translate3d(0%, 0px, 0px);")
                    li.embla__slide.css-b1e062.en0tunn0(role="presentation")
                      div
                        article.css-lfgnof(role="presentation")
                          header.css-1vmzex9
                            .css-ampg91.ea9zzoj0
                              .css-zms89y
                                h2.h4.css-u7ytkp
                                  span News
                            svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                          a(href="/news/")
                            figure.b1.overlayed.css-1yjshfm.ea9zzoj1
                              img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1638200131/Projects/11125/d_2021020_110721_pyylma" alt="A large display integrated into a solid DIRTT wall is inside this private office with custom casework benches and shelves.")
                    li.embla__slide.css-b1e062.en0tunn0(role="presentation")
                      div
                        article.css-lfgnof(role="presentation")
                          header.css-1vmzex9
                            .css-ampg91.ea9zzoj0
                              .css-zms89y
                                h2.h4.css-u7ytkp
                                  span Investors
                            svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                          a(href="/investors/")
                            figure.b1.overlayed.css-1yjshfm.ea9zzoj1
                              img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1654585411/Website/Investors/photography_yrzznh" alt="Seating area with couches and a coffee table in an office.")
                    li.embla__slide.css-b1e062.en0tunn0(role="presentation")
                      div
                        article.css-lfgnof(role="presentation")
                          header.css-1vmzex9
                            .css-ampg91.ea9zzoj0
                              .css-zms89y
                                h2.h4.css-u7ytkp
                                  span Sustainability
                            svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                          a(href="/sustainability/")
                            figure.b1.overlayed.css-1yjshfm.ea9zzoj1
                              img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1622055368/Projects/11087/d_20210512_132259_g6y7dx" alt="DIRTT interiors")
                    li.embla__slide.css-b1e062.en0tunn0(role="presentation")
                      div
                        article.css-lfgnof(role="presentation")
                          header.css-1vmzex9
                            .css-ampg91.ea9zzoj0
                              .css-zms89y
                                h2.h4.css-u7ytkp
                                  span Contact Us
                            svg.css-1lqy23z(viewbox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                              path(fill-rule="evenodd" clip-rule="evenodd" d="M15 3.86L1.707 17.152.293 15.738 13.586 2.445H6v-2h11v11h-2V3.86z" fill="current")
                          a(href="/contact-us/")
                            figure.b1.overlayed.css-1yjshfm.ea9zzoj1
                              img.css-1xfurep(src="https://dam.dirtt.com/image/upload/c_scale,q_auto:good,w_414/v1608159904/Projects/11051/d_20201109_164328_avbhg4" alt="This meeting room has a custom casework shelving unit to house a large screen and casework drawers along one wall.")
              .css-15e4dpu.e1gyy4sm2
                ul.css-1s7d0f1.e1gyy4sm1
                  li
                    .css-zd7qxx.e1gyy4sm0
                  li
                    .css-14afm5x.e1gyy4sm0
                  li
                    .css-14afm5x.e1gyy4sm0
                  li
                    .css-14afm5x.e1gyy4sm0

      //-***FOOTER
      footer.css-1fevopc.ef75jcy9
        .css-eisglz
          //-***FOOTER-MAILLIST
          .css-w6p26w.ef75jcy8
            form.css-nde6ud.ef75jcy3
              .css-1ihjw6c.ef75jcy2
                input.b1.css-1pkzsmk.ef75jcy1(name="email" placeholder="Your email address" required="" type="email" value="")
                input.button.css-1y6am2t.ef75jcy0(type="submit" value="Subscribe")
            svg.css-10g7ox(fill="#1E1E1E" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 93 120")
              g(clip-path="url(#logomark_svg__clip0_22973_2110)" fill="#fff")
                path(d="M64.13 54.48h16.091c.233-.228.36-.36.592-.592V.593c-.232-.229-.36-.36-.592-.593H57.83c-.233.233-.36.364-.592.593v47.005c-.233.233-.36.364-.592.593H1.352c-.229.233-.36.364-.592.593v41.934c0 6.578 5.345 11.953 11.934 11.953h43.972c.233.233.36.365.592.593v16.143c.233.233.36.364.592.593h22.371c.233-.229.36-.36.592-.593V96.974c-.232-.228-.36-.36-.592-.593h-16.09c-.23-.228-.36-.36-.593-.593V55.074c.233-.229.364-.36.592-.593zm-7.51 41.901H12.668a5.658 5.658 0 01-5.654-5.663V55.074c.233-.229.364-.36.592-.593H56.62l.592.593v40.714c-.229.233-.36.365-.593.593zM63.513 6.88c.232-.229.36-.36.592-.593h9.84c.233.233.36.364.592.593v40.719c-.232.233-.359.364-.592.593h-9.84c-.233-.23-.36-.36-.592-.593V6.878zm.592 95.792h9.84c.233.233.36.365.592.593v9.853c-.232.233-.359.364-.592.593h-9.84c-.233-.229-.36-.36-.592-.593v-9.853c.232-.228.363-.36.592-.593zM88.468 97.88h-1.201l-.055.056v3.444l-.055.055h-.22l-.055-.055v-3.444l-.055-.055h-1.201l-.055-.055v-.165l.055-.055h2.837l.055.055v.165l-.055.055h.005zM92.891 101.439h-.22l-.055-.055v-3.173h-.055l-1.366 3.173-.055.055h-.275l-.055-.055-1.366-3.173h-.055v3.173l-.055.055h-.22l-.054-.055v-3.72l.055-.054h.38l.055.055 1.421 3.338h.055l1.42-3.338.056-.055h.38l.055.055v3.719l-.055.055h.009z")
              defs
                clippath#logomark_svg__clip0_22973_2110
                  path(fill="#fff" transform="translate(.75)" d="M0 0h92.25v120H0z")

        .css-eisglz
          .css-hc75n4.ef75jcy7

          //-***FOOTER-SOCIALS
          .css-1uvj4a8.ef75jcy6
            .css-oclvlr
              a(href="https://www.facebook.com/DIRTTConstructionSystems" target="_blank" rel="nofollow noopener noreferrer")
                svg.css-1vv6b0w(viewbox="0 0 32 33" fill="white" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M7.154 3.224A4.154 4.154 0 003 7.377v18.349a4.154 4.154 0 004.154 4.154h18.348a4.154 4.154 0 004.154-4.154V7.377a4.154 4.154 0 00-4.154-4.153H7.154zm10.06 16.847l.032 9.809h4.548V20.07h3.29l2.031-3.923h-5.321v-1.803c0-1.232.354-2.071 2.182-2.071l2.332-.001V8.469c-.403-.052-1.787-.168-3.398-.168-3.362 0-5.696 1.754-5.696 5.395v2.452h-4.062v3.923h4.062z" fill="current")
              a(href="https://www.instagram.com/dirtt/" target="_blank" rel="nofollow noopener noreferrer")
                svg.css-1vv6b0w(viewbox="0 0 32 33" fill="white" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M21.333 2.89H10.667a8 8 0 00-8 8v10.667a8 8 0 008 8h10.666a8 8 0 008-8V10.89a8 8 0 00-8-8zm-16 8a5.333 5.333 0 015.334-5.333h10.666a5.333 5.333 0 015.334 5.333v10.667a5.333 5.333 0 01-5.334 5.333H10.667a5.333 5.333 0 01-5.334-5.333V10.89zM16 22.89a6.667 6.667 0 110-13.333 6.667 6.667 0 010 13.333zm0-2.666a4 4 0 100-8 4 4 0 000 8zm8-10.667a1.333 1.333 0 11-2.667 0 1.333 1.333 0 012.667 0z" fill="current")
              a(href="https://twitter.com/DIRTT" target="_blank" rel="nofollow noopener noreferrer")
                svg.css-1vv6b0w(viewbox="0 0 32 33" fill="white" xmlns="http://www.w3.org/2000/svg")
                  path(d="M9.637 22.712c-.449-.041-.83-.062-1.204-.144-2.345-.521-3.955-1.877-4.853-4.03-.11-.266-.1-.271.18-.23.871.127 1.732.071 2.64-.149-.296-.087-.539-.143-.776-.23-2.303-.829-3.739-2.404-4.314-4.716a5.614 5.614 0 01-.138-1.192c-.005-.184.037-.205.2-.123.75.379 1.548.594 2.388.675.095.01.185.01.295-.005-1.372-.992-2.297-2.26-2.671-3.882-.37-1.616-.122-3.14.718-4.603.348.368.67.731 1.008 1.069 2.535 2.552 5.571 4.25 9.12 5.1 1.077.26 2.175.393 3.279.49.222.02.2-.076.174-.22-.232-1.191-.163-2.363.301-3.488.845-2.061 2.382-3.422 4.61-3.944 2.334-.542 4.404.026 6.157 1.617.153.143.28.189.507.143a13.417 13.417 0 003.628-1.345c.069-.036.142-.067.264-.123-.227.757-.607 1.386-1.072 1.97A7.33 7.33 0 0128.42 6.84c1.235-.113 2.408-.445 3.58-.865-.227.297-.438.604-.681.885-.676.788-1.42 1.514-2.281 2.118-.217.153-.275.317-.27.578.08 3.11-.655 6.046-2.096 8.818a17.968 17.968 0 01-5.302 6.256 17.506 17.506 0 01-5.645 2.797 20.191 20.191 0 01-8.221.63A18.649 18.649 0 010 25.397c3.538.276 6.743-.563 9.637-2.685z" fill="current")
              a(href="https://www.youtube.com/c/DIRTT" target="_blank" rel="nofollow noopener noreferrer")
                svg.css-1vv6b0w(viewbox="0 0 34 34" fill="white" xmlns="http://www.w3.org/2000/svg")
                  g(clip-path="url(#youtube_svg__clip0_21665_433)")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M29.412 5.734c1.413.395 2.528 1.553 2.908 3.021.707 2.683.68 8.273.68 8.273s0 5.563-.68 8.245c-.38 1.468-1.495 2.626-2.908 3.021C26.829 29 16.5 29 16.5 29s-10.302 0-12.912-.734C2.175 27.87 1.06 26.713.68 25.245 0 22.59 0 17 0 17s0-5.562.68-8.245c.38-1.468 1.522-2.654 2.908-3.05C6.171 5 16.5 5 16.5 5s10.33 0 12.912.734zM13.21 11.861L21.8 17l-8.59 5.139V11.86z" fill="current")
                  defs
                    clippath#youtube_svg__clip0_21665_433
                      path(fill="#fff" transform="translate(0 5)" d="M0 0h33v24H0z")
              a(href="https://www.linkedin.com/company/dirtt/" target="_blank" rel="nofollow noopener noreferrer")
                svg.css-1vv6b0w(viewbox="0 0 32 33" fill="white" xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd" clip-rule="evenodd" d="M5.333 2.89h21.334a2.667 2.667 0 012.666 2.667V26.89a2.667 2.667 0 01-2.666 2.667H5.333a2.667 2.667 0 01-2.666-2.667V5.557A2.667 2.667 0 015.333 2.89zm0 2.667V26.89h21.334V5.557H5.333zm12 6.667c-.69 0-1.42.21-2.064.602l-.602-.602h-1.334v9.333H16v-5.333c0-.768.792-1.334 1.333-1.334h1.334c.541 0 1.333.566 1.333 1.334v5.333h2.667v-5.333c0-2.47-2.142-4-4-4h-1.334zm-6.666-1.334a1.333 1.333 0 100-2.666 1.333 1.333 0 000 2.666zm-1.334 1.334v9.333H12v-9.333H9.333z" fill="current")

          //-***FOOTER-LEGALS
          .css-suznpe.ef75jcy5
            a.css-wcpszx(href="/privacy-policy/")
              h3.b1 Privacy Policy
            a.css-wcpszx(href="/legal/")
              h3.b1 Intellectual Property
            a.css-wcpszx(href="/terms-and-conditions/")
              h3.b1 Terms & Conditions
            a.css-wcpszx(href="/")
              h3.b1 © DIRTT 2022

            .css-nn301t.ef75jcy4
              svg.css-1d3w5wq(fill="#1E1E1E" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 93 120")
                g(clip-path="url(#logomark_svg__clip0_22973_2110)" fill="#fff")
                  path(d="M64.13 54.48h16.091c.233-.228.36-.36.592-.592V.593c-.232-.229-.36-.36-.592-.593H57.83c-.233.233-.36.364-.592.593v47.005c-.233.233-.36.364-.592.593H1.352c-.229.233-.36.364-.592.593v41.934c0 6.578 5.345 11.953 11.934 11.953h43.972c.233.233.36.365.592.593v16.143c.233.233.36.364.592.593h22.371c.233-.229.36-.36.592-.593V96.974c-.232-.228-.36-.36-.592-.593h-16.09c-.23-.228-.36-.36-.593-.593V55.074c.233-.229.364-.36.592-.593zm-7.51 41.901H12.668a5.658 5.658 0 01-5.654-5.663V55.074c.233-.229.364-.36.592-.593H56.62l.592.593v40.714c-.229.233-.36.365-.593.593zM63.513 6.88c.232-.229.36-.36.592-.593h9.84c.233.233.36.364.592.593v40.719c-.232.233-.359.364-.592.593h-9.84c-.233-.23-.36-.36-.592-.593V6.878zm.592 95.792h9.84c.233.233.36.365.592.593v9.853c-.232.233-.359.364-.592.593h-9.84c-.233-.229-.36-.36-.592-.593v-9.853c.232-.228.363-.36.592-.593zM88.468 97.88h-1.201l-.055.056v3.444l-.055.055h-.22l-.055-.055v-3.444l-.055-.055h-1.201l-.055-.055v-.165l.055-.055h2.837l.055.055v.165l-.055.055h.005zM92.891 101.439h-.22l-.055-.055v-3.173h-.055l-1.366 3.173-.055.055h-.275l-.055-.055-1.366-3.173h-.055v3.173l-.055.055h-.22l-.054-.055v-3.72l.055-.054h.38l.055.055 1.421 3.338h.055l1.42-3.338.056-.055h.38l.055.055v3.719l-.055.055h.009z")
                defs
                  clippath#logomark_svg__clip0_22973_2110
                    path(fill="#fff" transform="translate(.75)" d="M0 0h92.25v120H0z")


  #gatsby-announcer(aria-live="assertive" aria-atomic="true" style="position: absolute; top: 0px; width: 1px; height: 1px; padding: 0px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border: 0px;")
    | Navigated to About Us

  //-***SUPPORT BUTTON (bottom right) via Zendesk
  //-***COOKIE SETTIGS
  //-***
